version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: apex_bank
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: apex_user
      MYSQL_PASSWORD: apex_password
    ports:
      - '3307:3306'
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
